*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background: #f5f5f5;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}


.brand-logo {
    margin-top: 15px;
    width: 150px;
    height: 20px;
}
.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}


.search-box{
     justify-content: center;
    width: 80%;
    height: 40%;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
   outline: none;
}


.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #95ac68;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
}



.search-box::placeholder{
    color: gray;
}


.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    margin-left: 20px;
}


.links-container{
    display: flex;
    width: 100%;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}


.link:hover{
    opacity: 1;
}